<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">type</label>        
		<select class="form-control" formControlName="type" #type [(ngModel)] = "brokerage.type">
          <option value="intraday">Intraday</option>
          <option value="delivery">Delivery</option>          
        </select>
      </div>
      <div *ngIf="angForm.controls['type'].invalid && (angForm.controls['type'].dirty || angForm.controls['type'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['type'].errors.required">
          Type is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Rate</label>
        <input type="text" class="form-control" formControlName="rate" #rate [(ngModel)] = "brokerage.rate"/>
      </div>
      <div *ngIf="angForm.controls['rate'].invalid && (angForm.controls['rate'].dirty || angForm.controls['rate'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['rate'].errors.required">
          Rate is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Start Date</label>
        <p-calendar formControlName="start_date" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2019" showIcon=true #start_date [(ngModel)] = "brokerage.start_date"></p-calendar>
      </div>
      <div *ngIf="angForm.controls['start_date'].invalid && (angForm.controls['start_date'].dirty || angForm.controls['start_date'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['start_date'].errors.required">
          Start date is required.
        </div>
      </div>
	   <div class="form-group">
        <label class="col-md-4">End Date</label>
        <p-calendar formControlName="end_date" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2019" showIcon=true #end_date [(ngModel)] = "brokerage.end_date"></p-calendar>
      </div>
      <div *ngIf="angForm.controls['end_date'].invalid && (angForm.controls['end_date'].dirty || angForm.controls['end_date'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['end_date'].errors.required">
          End date is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="editMode ? updateBrokerage(type.value, rate.value, start_date.value,end_date.value) : addBrokrage(type.value, rate.value, start_date.value,end_date.value)" type="submit" 
        [disabled]="angForm.pristine || angForm.invalid" 
        class="btn btn-primary">{{editMode ? "Update" : "Add"}}</button>
      </div>
    </form>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
        <td>Type</td>
        <td>Rate</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let brokerage of brokerages">
            <td>{{ brokerage.type }}</td>
            <td>{{ brokerage.rate }}</td>
            <td>{{ brokerage.start_date | date: 'dd/MM/yyyy'}}</td>
            <td>{{ brokerage.end_date | date: 'dd/MM/yyyy'}}</td>
            <td><a (click) = "editBrokerage(brokerage._id)" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteBrokerage(brokerage._id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>
</div>