<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">type</label>        
		<select class="form-control" formControlName="type" #type>
          <option value="intraday">Intraday</option>
          <option value="non-intraday">Non Intraday</option>          
        </select>
      </div>
      <div *ngIf="angForm.controls['type'].invalid && (angForm.controls['type'].dirty || angForm.controls['type'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['type'].errors.required">
          Type is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Rate </label>
        <input type="text" class="form-control" formControlName="rate" #rate />
      </div>
      <div *ngIf="angForm.controls['rate'].invalid && (angForm.controls['rate'].dirty || angForm.controls['rate'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['rate'].errors.required">
          Rate is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Start Date </label>
        <p-calendar formControlName="start_date" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2019" showIcon=true #start_date></p-calendar>
      </div>
      <div *ngIf="angForm.controls['start_date'].invalid && (angForm.controls['start_date'].dirty || angForm.controls['start_date'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['start_date'].errors.required">
          Start date is required.
        </div>
      </div>
	   <div class="form-group">
        <label class="col-md-4">End Date </label>
        <p-calendar formControlName="end_date" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2019" showIcon=true #end_date></p-calendar>
      </div>
      <div *ngIf="angForm.controls['end_date'].invalid && (angForm.controls['end_date'].dirty || angForm.controls['end_date'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['end_date'].errors.required">
          End date is required.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" 
        [disabled]="angForm.pristine || angForm.invalid" 
        class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>